@model Notebook.ViewModels.UserEditViewModel

<form asp-action="@(Model.Id == null ? "Create" : "Edit")" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="DateOfBirth" class="form-label"></label>
            <input asp-for="DateOfBirth" class="form-control" type="date" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Gender" class="form-label"></label>
            <select asp-for="Gender" class="form-select">
                <option value="">-- Wybierz płeć --</option>
                <option value="0">Mężczyzna</option>
                <option value="1">Kobieta</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>

    <hr />

    <h5>Dodatkowe atrybuty</h5>
    <div id="attributes-container">
        @for (var i = 0; i < Model.Attributes.Count; i++)
        {
            <div class="row g-3 mb-2 attribute-row">
                <div class="col-md-5">
                    <input asp-for="Attributes[i].Key" class="form-control" placeholder="Nazwa (np. Telefon)" />
                    <span asp-validation-for="Attributes[i].Key" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <input asp-for="Attributes[i].Value" class="form-control" placeholder="Wartość" />
                    <span asp-validation-for="Attributes[i].Value" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-sm remove-attribute">Usuń</button>
                </div>
            </div>
        }
    </div>

    <button type="button" id="add-attribute" class="btn btn-outline-secondary mt-2">
        + Dodaj atrybut
    </button>

    <hr />

    <div class="mt-4">
        <button type="submit" class="btn btn-primary btn-lg">Zapisz</button>
        <a asp-action="Index" class="btn btn-secondary btn-lg ms-2">Anuluj</a>
    </div>
</form>


<script>
    
    document.getElementById('add-attribute')?.addEventListener('click', function () {
        const container = document.getElementById('attributes-container');
        const index = container.querySelectorAll('.attribute-row').length;

        const html = `
            <div class="row g-3 mb-2 attribute-row">
                <div class="col-md-5">
                    <input name="Attributes[${index}].Key" class="form-control" placeholder="Nazwa (np. Telefon)" required />
                </div>
                <div class="col-md-5">
                    <input name="Attributes[${index}].Value" class="form-control" placeholder="Wartość" required />
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-sm remove-attribute">Usuń</button>
                </div>
            </div>`;

        container.insertAdjacentHTML('beforeend', html);
    });

    
    document.addEventListener('click', function (e) {
        if (e.target.classList.contains('remove-attribute')) {
            e.target.closest('.attribute-row').remove();
        }
    });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>